/* Cleaned & Transparent Sidebar */

#sidebar-box {
  border: none !important;
}

@media (prefers-color-scheme: light) {
  #sidebar-box {
    background-color: rgba(255, 255, 255, 0.11) !important;
  }

  #sidebar-box #sidebar-header {
    border-bottom: none !important;
  }

  #sidebar-box #sidebar-header #sidebar-close {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  #sidebar-box {
    background-color: rgba(0, 0, 0, 0.2) !important;
  }

  #sidebar-box #sidebar-header {
    border-bottom: none !important;
  }

  #sidebar-box #sidebar-header #sidebar-close {
    display: none !important;
  }
}